@import url('https://fonts.googleapis.com/css?family=Poppins:200');

html, body {

}

html {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #151515;
}

body {
    margin: 0;
    background-color: #dbebf1;
}

.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.map {
    flex: 1;
}

.list-days {
    display: flex;
    align-items: center;
    flex: 0 1 200px;

    overflow-x: auto;
}

.day {
    flex: 0 0 240px;
    padding: 15px;
}

.day .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.day .header img {
    margin-right: 20px;
    border-radius: 50%;
    background-color: #d3d3d3;
}

.day .header .title,
.day .header .sub-title {
    margin: 0;
}

.day .temp {
    font-size: 16px;
}